@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;400&display=swap');

$font: 'Palanquin';
$font-color: #232532;
$primary: #dd6955;
$active: #6e633d;
$background: #fff;
$primary-transparent:#dd695530;
$active-transparent: #6e633d50;